body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: floralwhite;
  color: black;
  padding: 0;
  margin: 0;
  position: relative;
}
ul {
  padding: 2;
}
nav ul {
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  font-size: 16px;
}
.main-list {
  size: 20px;
}
button {
  background-color: lightskyblue;
  display: inline;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
main {
  background-attachment: fixed;
}
.sectiontop {
  display: block;
  height: 500px;
  background-image: url("./images/top.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  color: darkred;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
h2 {
  color: brown;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
p {
  text-align: justify;
  word-spacing: normal;
  font-size: 16px;
  font-weight: 200;
  margin-left: 100px;
  margin-right: 100px;
}
.photo {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
